backoff==2.2.1
gym==0.26.2
matplotlib==3.6.3
numpy==1.24.3
openai==1.42.0
opencv_python==4.7.0.68
opencv_python_headless==4.7.0.68
overrides==7.3.1
pandas==1.5.3
Pillow==10.4.0
py_md_doc==0.5.1
pyastar2d==1.0.6
pycocotools==2.0.6
Requests==2.32.3
scipy==1.10.1
setuptools==60.2.0
tdw==1.11.23.5
tenacity==8.2.2
torch==2.0.1
tqdm==4.65.0
transformers==4.33.1
accelerate>=0.20.3