aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
boto3==1.26.153
botocore==1.29.153
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
cloudpickle==2.2.1
cmake==3.27.4.1
colorama==0.4.6
contourpy==1.1.0
crcmod==1.7
cryptography==41.0.3
cycler==0.11.0
filelock==3.12.4
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.9.0
gym==0.26.2
gym-notices==0.0.8
huggingface-hub==0.17.1
idna==3.4
ikpy==3.1
imageio==2.31.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
lit==16.0.6
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
model-index==0.1.11
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==0.27.8
opencv-python==4.7.0.72
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.25
ordered-set==4.1.0
oss2==2.17.0
overrides==7.3.1
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
psutil==5.9.5
pyastar2d==1.0.6
pycparser==2.21
pycryptodome==3.18.0
pydub==0.25.1
Pygments==2.16.1
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.0
regex==2023.8.8
requests==2.31.0
rich==13.4.2
s3transfer==0.6.1
safetensors==0.3.3
scipy==1.10.1
screeninfo==0.8.1
seaborn==0.12.2
six==1.16.0
sympy==1.12
tabulate==0.9.0
tdw==1.11.23.5
tenacity==8.2.3
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
transformers==4.33.1
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
yarl==1.9.2
zipp==3.15.0
