<head>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<!-- <script src="https://code.jquery.com/jquery-3.3./1.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
$.ajaxSetup({
  contentType: "application/json; charset=utf-8"
});
// setup some JSON to use
var is_walking = null; 
var index_step = 0;
var curr_activity_id = -1;
var activity_count = 0;
var show_modal = "{{ show_modal }}" == "True";
var rooms_box = [];
window.onload = function() {
    document.onkeydown = function(e) {
    switch(e.which) {
        case 37: // left
        //doWork("turnleft");
        break;

        case 38: // up
        //doWork("walkforward");
        break;

        case 39: // right
        //doWork("turnright");
        break;
    
    case 82:
        refreshScene();

    case 72:
        increaseResolution();

        default: return; // exit this handler for other keys
    }

    // e.preventDefault(); // prevent the default action (scroll / move caret)
    };
    
    refreshScene(true);
}

function endActivity(){
    var str_end = "<h3> Thanks so much for your help in completing the task. All done:)  </h5>";
    $('#top_buttons').empty();
    $('#centralpannel').empty();
    $('#centralpannel').append(str_end);
}

function querymask(object_id){
    var content = {'obj_id': object_id};
    var content = JSON.stringify(content);

    $.ajax({
        type: "POST",
        url: "querymaskid",
        data: content,
        success: function(result){
        result = JSON.parse(result);
        $("#image").attr("src", "data:image/jpg;base64," + result['img'])
        },
        async:true});
}


function getbuttons(result){
    console.log("getbuttons", result)
    var object_name = result[0][0]
    $('#currentactions').empty();
    $('#selectedcontainer').show();
    var object_name_str = object_name[1] + '.' + object_name[2];
    $('#selectedobject').text(object_name_str)
    has_open_list = result[0][1].some(i => i === 'open');
    for (var i = 0; i < result[0][1].length; i++){
        var room_info = '[[\"'+object_name[1]+'\", ' + object_name[0] +']]';
        var action_name = result[0][1][i];
        //ugly fix for the backend bug: can put object to a closed container
        if (action_name.startsWith('put ') && has_open_list){
            continue;
        }
        if (action_name.startsWith('switch')){
            continue;
        }
        var button_room = "<button class='btn btn-primary' onclick='doWork(\""+action_name+"\", "+room_info+")'>"+action_name+"</button>";
        $('#currentactions').append(button_room);
        
    }
    
}

function decode(encoded) {
  let uncompressed = [];

  /**
   * Create a new array with decoded data
   */
  encoded.map((element, ind) => {
    if (ind % 2 === 0) {
      uncompressed.push(...Array(element).fill(encoded[ind + 1]));
    }
  });

  return uncompressed;
}

var is_visible_instr = false;
function tickvisible(){

    if (!is_visible_instr){
        $("#visibleinstrbutton").text("Ok");
        $("#visible_object_info").show()
        is_visible_instr = true;
    }
    
    else {
        is_visible_instr = false;
        $("#visibleinstrbutton").text("About");
        $("#visible_object_info").hide()
    }
}



function refreshScene(include_top=false){
    content_json = {'instruction': 'refresh'}
    content_json['include_top'] = include_top;
    console.log(content_json)
    var content = JSON.stringify(content_json);
    $.ajax({
    type: "POST",
    url: "receiver",
    data: content,
    success: function(result){
        console.log(include_top);
        endTime1 = new Date();
        result = JSON.parse(result);
       if (result['resp']['all_done']){
        endActivity();
        return;
       }
        $("#image").attr("src", "data:image/jpg;base64," + result['img'])
        if (include_top){
            $("#imagetop").attr("src", "data:image/jpg;base64," + result['resp']['image_top'])
        }
        //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
        // console.log(result['plot_top']);
        // console.log(result['plot_top'])

        $("#plot_top").append(result['plot_top']);
        addRoomButtons(result['resp']['rooms']) // .filter(room => room[0] === result['resp']['other_info']['current_room']))
        //    addRoomButtons(result['resp']['rooms'])
        

        $('#loc_agent').text(result['resp']['other_info']['current_room'])
        grabbed_obj = result['resp']['other_info']['grabbed_object'];
        interactable_objects = result['resp']['other_info']['interactable_objects'];
        console.log(grabbed_obj)
        if (grabbed_obj.length > 0){
            for (var it = 0; it < grabbed_obj.length; ++it){
                var grabb_obj_str = grabbed_obj[it][0] + "." + grabbed_obj[it][2];
                $('#grab_agent').text(grabb_obj_str);
            }
        }
        else {
            $('#grab_agent').text("Nothing");
        }


        grabbed_obj_second = result['resp']['other_info']['grabbed_object_second'];
        if (grabbed_obj_second == -1){
        $("#second_agent_info").hide();
        }
        else {
        $("#second_agent_info").show();
        if (grabbed_obj_second.length > 0){
            for (var it = 0; it < grabbed_obj_second.length; ++it){
                var grabb_obj_str = grabbed_obj_second[it][0] + "." + grabbed_obj_second[it][2];
                $('#grab_agent_2').text(grabb_obj_str);
            }
        }
        else {
            $('#grab_agent_2').text("Nothing");
        }
        }


        // addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['object_action'])

        if (result['exp_name'] != 'debug'){
            // $("#next_task").hide()
            // $("#resetbutton").hide()
            // $("#scene_id").hide()
        }
        refreshInfo(result);

    },
    async:true});

}

function refreshInfo(result){
    $('#dialogue_history').text(result['resp']['other_info']['dialogue_history'])

    $('#loc_agent').text(result['resp']['other_info']['current_room'])
    var object_id_target = result['resp']['other_info']['goal_id'];

        grabbed_obj = result['resp']['other_info']['grabbed_object'];
        if (grabbed_obj.length > 0){
            var grabb_obj_str = ""
            for (var it = 0; it < grabbed_obj.length; ++it){
                grabb_obj_str += " "+grabbed_obj[it][0] + "." + grabbed_obj[it][2];
                
            }
            $('#grab_agent').text(grabb_obj_str);

            // var grabb_obj_str = grabbed_obj[0] + "." + grabbed_obj[2];
            // $('#grab_agent').text(grabb_obj_str);
        }
        else {
            $('#grab_agent').text("Nothing");
        }


        grabbed_obj_second = result['resp']['other_info']['grabbed_object_second'];
        if (grabbed_obj_second == -1){
        $("#second_agent_info").hide();
        }
        else {
        $("#second_agent_info").show();
        if (grabbed_obj_second.length > 0){
            var grabb_obj_str = ""
            for (var it = 0; it < grabbed_obj_second.length; ++it){
                grabb_obj_str += " "+grabbed_obj_second[it][0] + "." + grabbed_obj_second[it][2];
                
            }
            $('#grab_agent_2').text(grabb_obj_str);
            
        }
        else {
            $('#grab_agent_2').text("Nothing");
        }
        }
    console.log(grabbed_obj);
    console.log(grabbed_obj_second);
    $("#task_name").text(result['resp']['other_info']['task_name'])
    $("#num_steps").text(result['resp']['other_info']['step_str'])
    $("#num_task").text(result['resp']['other_info']['task_id_str'])
    var task_id_str = result['resp']['other_info']['task_id_str'];
    curr_activity_id = parseInt(task_id_str.split('/')[0]);
    activity_count = parseInt(task_id_str.split('/')[1]);
      $("#num_completed_all").text(result['resp']['other_info']['total_completed_str'])
    $("#task_finished").text(Boolean(Number(result['resp']['other_info']['task_finished'])))

      var task_finished =  result['resp']['other_info']['task_finished'] == '1';
      if (show_modal){
          <!--$('#nextTask').hide();-->
      }
      if (task_finished){
        $("#refreshbutton").hide()
        $("#increaseResButton").hide()
        $("#recordbutton").hide()
        $("#visible_objects_all").hide()
        $("#button_rooms").hide()
          <!--$('#nextTask').prop('disabled', false);-->
          if (show_modal){

              showmodalNextTask();
          }
      }
      else{
          <!--$('#nextTask').prop('disabled', true);-->
        $("#refreshbutton").show()
        $("#increaseResButton").show()
        $("#recordbutton").show()
        $("#visible_objects_all").show()
        $("#button_rooms").show()
    }

    $('#task_pred').empty()
    for (var i = 0; i < result['resp']['other_info']['task_preds'].length; i++){
        var task_pred = result['resp']['other_info']['task_preds'][i];
        var task_elem = '<li>' + task_pred + '</li>'
        $('#task_pred').append(task_elem)
    }
    addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['other_info']['not_visible_objects'], result['resp']['object_action'], result['resp']['not_visible_object_action'], result['resp']['other_info']['goal_id'], result['resp']['other_info']['interactable_objects'])

    {#if (result['resp']['other_info']['task_id_finished'] == 'True'){#}
    {#    #}
    {##}

}

function addVisibleButtons(visible_objects, not_visible_objects, results, not_visible_results, object_id_target=null, interactable=[]){
    console.log("VISIBLE objects");
    console.log(visible_objects)
    console.log("NOT VISIBLE objects");
    console.log(not_visible_objects)
    should_block = false;
    if (interactable.length > 0){
        should_block = true;
    }
    for (var i = 0; i < rooms_box.length; i++){
        $(rooms_box[i]).empty();
    }
    $("#grabbed_obj2_button").empty();
    //$('#visible_objects_grab').empty();
    $('#visible_objects_container').empty();
    for (var i = 0; i <rooms_box.length; i++){
        $('#'+rooms_box[i]).empty();
    }    

    var count_grab = 0;
    var count_cont = 0;
    var container_div_dict = {};
    var to_add = [];
    visible_objects = visible_objects.concat(not_visible_objects);
    results = results.concat(not_visible_results);
    container_appear = true
    not_visible_ids = not_visible_objects.map(i => i[0]);
    for (var i = 0; i < visible_objects.length; i++){
        var room_info = '[[\"'+visible_objects[i][0]+'\", ' + visible_objects[i][1] +']]';
        var object_name = visible_objects[i][1] + '.' + visible_objects[i][2]
        var is_close = visible_objects[i][4] == '1';
        var is_open = visible_objects[i][5] == '1';
        
        var button_room;
        
        var object_name_styled = object_name;
        // console.log(visible_objects[i], object_id_target);
        if (visible_objects[i][0] in not_visible_ids){
            // window.alert('added')
            container_appear = false;
            button_room = "<button class='btn btn-secondary' disabled>"+ object_name_styled+"</button>";
            console.log("add disabled for ", visible_objects[i])
        }
        //console.log(visible_objects[i])
        //console.log(interactable)
        if (should_block && !interactable.includes(visible_objects[i][0] )){
            // sjm why not remove? I remove it. But through change changing visible objects.
            container_appear = false;
            button_room = "<button class='btn btn-secondary' disabled>"+object_name_styled+"</button>";    
            // button_room = "";//"<button class='btn btn-secondary' disabled>"+object_name_styled+"</button>";    
        }
        else {
            if (!is_close){
            button_room = "<button class='btn btn-primary'>"+object_name_styled+"</button>";    
            }
            else {
            button_room = "<button class='btn btn-success'>"+object_name_styled+"</button>";
            }
        }

        button_room = $(button_room);
        //console.log(results[i])
        button_room.click([results[i]], function (e){
            // console.log(e.data);
            querymask(e.data[0][0][0]);
            getbuttons(e.data);
        });


        var is_grabbable = visible_objects[i][3] == 'grab';
        var new_line = false;
        if (i > 0 && visible_objects[i][1] != visible_objects[i-1][1]){
            new_line = true;
        }


        if (true){

            // if (new_line && count_grab > 0){
            //     $('#visible_objects_grab').append('<br>');    
            // }
            console.log("adding buttons:", visible_objects[i])
            if (true){
                // console.log(visible_objects[i]);
                // if not in a container
                var room_obj = visible_objects[i][7];
                if (room_obj != 2){

                    console.log("put to room block:",visible_objects[i])
                    //strange fix
                    $('#rooms_'+room_obj).append(button_room.clone(true, true));        
                }
                else {
                    console.log(visible_objects[i], button_room);
                    //sjm remove this button
                    //$('#grabbed_obj2_button').append(button_room);
                }
            }
            if (visible_objects[i][6] != -1) {
                // console.log(visible_objects[i][6]);
                // console.log(button_room);
                // console.log('add')
                // console.log(visible_objects[i][6])
                to_add.push([button_room, visible_objects[i][6]]);
            } 

            

            count_grab += 1

        }
        if (!is_grabbable) {

            var container = $("<div style='display: inline-block; margin: 4px'></div>");
            var style_box = "";
            // console.log(results[i][1]);
            // console.log(results[i][0][6]) 

            if (visible_objects[i][3] == "container"){
            
                if (is_open){
                    style_box = " openbox";
                }
                else {
                    style_box = " closedbox";
                }

            }
            var location = '<br><span style="font-size: small">'+visible_objects[i][8]+'</span><br>'
            //strange, must clone
            container.append(button_room);
            container.append(location);
            container_width = '180';
            if (visible_objects[i][1] == "kitchentable" || visible_objects[i][1] == "coffeetable"){
                container_width = '367';
            }
            var div_container = $("<div id='box_"+visible_objects[i][0]+"' class='buttoncontainer"+style_box+"' style='height: 150px; width: "+container_width+"px'></div>");
            
            container_div_dict[visible_objects[i][0]] = div_container;
            container.append(div_container)


            if (count_cont > 0 && count_cont% 4 == 0){
                $('#visible_objects_container').append('<br>');    
            }
            if (container_appear){
                $('#visible_objects_container').append(container);
            }
            if (container_width == '180'){
                count_cont += 1
            }
            else {
                count_cont += 2
            }
            
        }
    }
    //console.log(container_div_dict);


    for (var i = 0; i < to_add.length; i++){
        var curr_id = to_add[i][1];
        container_div_dict[curr_id].append(to_add[i][0])
    }
}

function recordGraph(){
    // scene_id = $('#scene_id').val()
    console.log('scene_id: ', scene_id);
    content_json = {'instruction': 'reset', 'scene_id': scene_id}
    var content = JSON.stringify(content_json);
    $.ajax({
    type: "POST",
    url: "record_graph_flag",
    data: content,
    success: function(result){
        if (result['record_graph_flag']){
            $("#recordbutton").text("Stop Record")
        }
        else {
            $("#recordbutton").text("Record")    
        }
        refreshScene();
    },
    async:false});
}

function addRoomButtons(rooms){
    $('#button_rooms').empty();
    $('#visible_objects_grab').empty()
    
    rooms_box = [];
    $('#visible_objects_grab').empty()
    for (var i = 0; i < rooms.length; i++){
        //sjm checkpoint----------------------------------------------------------------------------------------------------------------------
        var room_info = '[[\"'+rooms[i][0]+'\", ' + rooms[i][1] +']]';
        var button_room = "<button class='btn btn-primary' onclick='doWork(\"walktowards\", "+room_info+")'>"+rooms[i][0]+"</button>";
        $('#button_rooms').append(button_room);
        var room_id = ('rooms_'+rooms[i][1]);
        var span_room = '<span style="font-weight: bold"> '+rooms[i][0]+'.'+rooms[i][1]+' </span>';

        $('#visible_objects_grab').append(span_room+'<div class="buttoncontainer" style="min-height: 70px" id='+room_id+'></div>');
        rooms_box.push(room_id)    
    }
    var button_room = "<button class='btn btn-info' onclick='doWork(\"wait\")'>Wait</button>";
    $('#button_rooms').append(button_room);
}

function resetScene(){
    // scene_id = $('#scene_id').val()
    console.log(scene_id);
    content_json = {'instruction': 'reset', 'scene_id': scene_id}
    var content = JSON.stringify(content_json);
    $.ajax({
    type: "POST",
    url: "receiver",
    data: content,
    success: function(result){
        result = JSON.parse(result);
       if (result['resp']['all_done']){
        endActivity();
        return;
       }
        endTime1 = new Date();
        $("#image").attr("src", "data:image/jpg;base64," + result['img'])
        $("#imagetop").attr("src", "data:image/jpg;base64," + result['resp']['image_top'])
        $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
    },
    async:false});

}

function showmodalNextTask(){
    $('.modal').modal('show');
    if (curr_activity_id == activity_count){
        $('#titleform').text("Great job! This was the last task")
        $('#nexttaskbutton').text("Finish");
    }
}

function modalNextTask(){

    var data = $('#modalform_id').serialize();
    var data_json = JSON.parse(JSON.stringify($('#modalform_id').serializeArray()));
    
    if (data_json.length < 3){
        alert("Please complete the form to continue");
    }
    else {
        $('.modal').modal('hide');
        nextTask(data_json);
    }
    
}

function nextTask(data_modal=null){
    scene_id = -1;
    content_json = {'instruction': 'reset', 'scene_id': scene_id}
    if (data_modal != null){
        content_json['data_form'] = data_modal;
    }
    var content = JSON.stringify(content_json);
    $('#wait_spinner').show();
    $.ajax({
    type: "POST",
    url: "receiver",
    data: content,
    success: function(result){
        endTime1 = new Date();
        result = JSON.parse(result);
       if (result['resp']['all_done']){
        endActivity();
        return;
       }
        $("#image").attr("src", "data:image/jpg;base64," + result['img'])
        $("#imagetop").attr("src", "data:image/jpg;base64," + result['resp']['image_top'])
        $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])

        refreshInfo(result);

           addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['other_info']['not_visible_objects'], result['resp']['object_action'], result['resp']['not_visible_object_action'], 
               result['resp']['other_info']['goal_id'], result['resp']['other_info']['interactable_objects'])

           $('#wait_spinner').hide();
    refreshScene();

    },
    async:true});

}
function blockButtons(){

}
function unblockButtons(){

}
function doWork(content_str, other_info=null, repeated=-1) {
    // window.alert(content_str);
    // window.alert(other_info);
    // window.alert(repeated);
    var stop_run = false;
    // ajax the JSON to the server
    var curr_step = 0;
    console.log(content_str, repeated, curr_step)
    if (repeated >= 0){
        if (repeated != index_step){
            stop_run = true;
        }
        curr_step = repeated;
    }
    else {

        index_step += 1;
        curr_step = index_step;
    }


    if (stop_run){
        return;
    }
    content_json = {'instruction': content_str, 'other_info': other_info, 'current_step': curr_step}
    console.log(content_json)
    if (content_str == 'walktowards' && other_info != null){
        is_walking = other_info;
    
    }
    else {
        is_walking = null;
    }
    var content = JSON.stringify(content_json);
    startTime = new Date();
    $('#compute_spinner').show();
    $.post("receiver", content, function(result){
        result = JSON.parse(result);
        curr_content = JSON.parse(content)
       if (result['resp']['all_done']){
        endActivity();
        return;
       }

        $('#currentactions').empty();
        $('#selectedobject').text('');
        $('#selectedcontainer').hide();
        var rep = curr_content['current_step'];
        endTime = new Date();
        endTime1 = new Date();
        console.log("here");
        console.log(result)
        if (result['resp']['other_info']['ai_send_message'] !== null){
            window.alert('Bob: ' + result['resp']['other_info']['ai_send_message'])
        }
        if ('errormsg' in result['resp'] && 'msg' in result['resp']['errormsg']){
            window.alert(result['resp']['errormsg']['msg'])
        
        }
        else {
            // $('#error_messages').text("None")
        }

        $('#loc_agent').text(result['resp']['other_info']['current_room'])
        $("#image").attr("src", "data:image/jpg;base64," + result['img'])
        // $("#image2").attr("src", "data:image/jpg;base64," + result['img2'])
        //$("#image").attr("src", "{{ url_for('static', filename='curr_im.png') }}?"+endTime1.getTime())
        endTime2 = new Date();
        //$("#image2").attr("src", "data:image/png;base64," + result['img2'])
        timeDiff = endTime - startTime;
        timeDiff /= 1000;
        //console.log((endTime - startTime)/1000)
        //console.log((endTime1 - startTime)/1000)
        //console.log((endTime2 - startTime)/1000)
        {#console.log('result: ', result)#}

        $("#plot_top").empty();
        // $("#plot_top").append(result['plot_top']);


        refreshInfo(result);

        if (is_walking != null){
            // There was a new different action
            if (content_str != curr_content['instruction']){
                console.log(content_str)
                is_walking = null;    
            }
            
        }
        if (is_walking != null)
        {
            if (result['resp']['other_info']['close_objects'].includes(is_walking[0][1]) ||
                result['resp']['other_info']['inside_objects'].includes(is_walking[0][1])
            )
            {
                // console.log("OA",result['resp']['object_action'], result['resp']['not_visible_object_action'])
                addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['other_info']['not_visible_objects'], result['resp']['object_action'], result['resp']['not_visible_object_action'], result['resp']['other_info']['goal_id'], result['resp']['other_info']['interactable_objects'])
                if (result['resp']['other_info']['close_objects'].includes(is_walking[0][1])){
                    querymask(is_walking[0][1]);
                    // TODO: select here
                    for (var it = 0; it < result['resp']['object_action'].length; it++){
                        // console.log(result['resp']['object_action'][it][0][0])
                        if (is_walking[0][1] == result['resp']['object_action'][it][0][0]){
                            // console.log("getbuttons", result['resp']['object_action'][it])
                            getbuttons([result['resp']['object_action'][it]]);

                        }
                        
                    } 
                    
                }
                is_walking = null;
                
                $('#compute_spinner').hide();
            }
            else
            {
                
                $('#compute_spinner').show();
                console.log("repeating", rep, curr_content['instruction']);
                console.log("result close_objects", result['resp']['other_info']['close_objects'], "result_inside_objects", result['resp']['other_info']['inside_objects'])
                console.log("is_walking", is_walking[0][1])
                doWork(content_str, other_info, rep);

            }
        }
        else
        {
            addVisibleButtons(result['resp']['other_info']['visible_objects'], result['resp']['other_info']['not_visible_objects'], result['resp']['object_action'], result['resp']['not_visible_object_action'], result['resp']['other_info']['goal_id'], result['resp']['other_info']['interactable_objects'])

            $('#compute_spinner').hide();
        }

    });
    // stop link reloading the page
}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="topbuttons">
    <h1>VirtualHome Online Simulator</h1>
    </div>
    <br>
    <div class="topbuttons">
    <p>
    <ul>
        <li> You are Alice. Your job is to finish the task with your friend Bob together in as few steps as possible.</li>
        <li> The task and the goals are shown in the upper left corner with current steps. The progress will only be updated when you see the goal location.</li>
        <li> There are four rooms: kitchen, bathroom, bedroom, and livingroom. You can click corresponding buttons under <u>Walk to</u> in the left side to walk to the specific room. </li>
        <li> There are five boxes in the middle, four for each room and one for the Containers/Surfaces in the current room where the Surface is white, opened container is grey and closed container is dark.</li>.
        <li> All the objects you've seen will appear in the corresponding room's box. While the visible ones will be in <span style="font-weight: bold; color: blue">blue</span>, and the reachable ones will be in <span style="font-weight: bold; color: green">green</span>.</li>
        <li> You can click <span style="font-weight: bold; color: blue">visible objects</span> and choose to walktowards them.</li>
        <li> You can click <span style="font-weight: bold; color: green">reachable objects</span> and choose to interact with them, such as <i>grab</i> an object, <i>open, close, put(some objects in)</i> a container or <i>put(some objects on)</i> a surface.</li>
        <li> You can also send message to the agent, and the agent can also send message to you. The dialogue history is shown in the lower right corner.</li>
        <li> From the upper right box, You can know your current location, objects you're holding, and objects Bob is holding if he's in the same room with you.</li>
        <li> <b>Note:</b> If you walk to some place, you will continue walking until you reach the location, which may take several steps. You cannot do anything else during this procedure. Please wait until the computing is done to click other buttons</li>
        <li> <b>Note:</b> You can only observe objects in the same room with you. If you leave one room, even if another agent has changed something about the object, you will not know it.</li>
        <li> <b>Note:</b> You can hold up to two objects with your two arms, and you'll need one free arm to open or close any container.</li>
    </ul>
    </p>
    </div>
<br>
<div id="modal_question" class="modal bd-example-modal-lg"  data-keyboard="false" data-backdrop="static" tabindex="0" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="titleform">Good Job! This task is completed. </h5>

      </div>
      <div class="modal-body">
          <p>We want to evaluate your experience in this task. For every question, rate how satisfied you are with the other agent Bob. Use <strong>1</strong> if you are completely dissatisfied, <strong>4</strong> if you feel neutral about it and <strong>7</strong> if you are very satisfied.</p>
          <br>

          <form id="modalform_id">

              <h6> Communication Effectiveness </h6>
                <p> How effective do you think of your communication with the other agent Bob? Did it understand your message and/or share useful information with you? </p>
                <p> <b>1</b>. Our communication was not effective at all. Bob didn't understand my word and even shared misleading information with me. <br>
                    <b>4</b>. Our communication was not effective nor harmful. <br>
                    <b>7</b>. Our communication was very effective, Bob responded to me well and shared useful information with me. </p>
                  <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">3 </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio2" value="option4">
                  <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio2" value="option5">
                  <label class="form-check-label" for="inlineRadio2">5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio2" value="option6">
                  <label class="form-check-label" for="inlineRadio2">6</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="comm_goal" id="inlineRadio2" value="option7">
                  <label class="form-check-label" for="inlineRadio2">7</label>
                </div>

            <br>
            <br>
              <h6> Overall Helpfulness </h6>
                <p> How helpful do you find the other agent Bob? Did it help you achieve the goal faster?<p>
            <p> <b>1</b>. Bob made the task more difficult for me. <br>
              <b>4</b>. Bob was not helpful nor hurtful. <br>
              <b>7</b>. Bob was really helpful in achieving the task. </p>

                  <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">3 </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio2" value="option4">
                  <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio2" value="option5">
                  <label class="form-check-label" for="inlineRadio2">5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio2" value="option6">
                  <label class="form-check-label" for="inlineRadio2">6</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="helpfulness_goal" id="inlineRadio2" value="option7">
                  <label class="form-check-label" for="inlineRadio2">7</label>
                </div>

            <br>
            <br>
              <h6> Trust </h6>
                <p> How much do you trust the other agent Bob? Would you feel safe doing the task with it, or you rather do the task alone? </p>
                <p> <b>1</b>. I did not trust Bob at all, I would prefer to do the task alone. <br>
                    <b>4</b>. I feel neutral about how much I trust Bob. <br>
                    <b>7</b>. I fully trusted Bob, and feel confident doing the task with it. </p>
                  <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio3" value="option3">
                  <label class="form-check-label" for="inlineRadio3">3 </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio2" value="option4">
                  <label class="form-check-label" for="inlineRadio2">4</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio2" value="option5">
                  <label class="form-check-label" for="inlineRadio2">5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio2" value="option6">
                  <label class="form-check-label" for="inlineRadio2">6</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="trust_goal" id="inlineRadio2" value="option7">
                  <label class="form-check-label" for="inlineRadio2">7</label>
                </div>
    </form>
      </div>

      <!-- </div> -->



      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="modalNextTask()"> Next Task </button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>
<div id="canvas" style="";>
    <div id="top_buttons" class="topbuttons">
    <!--<select name="Scene" id="scene_id">
          <option value="0"> Scene 0 </option>
          <option value="1"> Scene 1 </option>
          <option value="2"> Scene 2 </option>
          <option value="3"> Scene 3 </option>
          <option value="4"> Scene 4 </option>
          <option value="5"> Scene 5 </option>
          <option value="6"> Scene 6 </option>
    </select>-->
    <div id="wait_spinner" style="display: none">
        Loading...
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="compute_spinner" style="display: none">
        Wait, computing...
        <div class="spinner-border" role="status">
          <span class="sr-only">Wait...</span>
        </div>
    </div>
    <!--<button disabled class="btn btn-primary" id="nextTask" onclick=nextTask()> Next Task </button>-->
    <!--<button class="btn btn-primary" id="resetbutton" onclick=resetScene()> Reset </button>-->
    <!--<button class="btn btn-primary" id="refreshbutton" onclick=refreshScene()> Refresh </button>-->
    <!-- <button class="btn btn-primary" id="increaseResButton" onclick=increaseResolution()> View High Res </button> -->
    <!-- <button class="btn btn-primary" id="recordbutton" onclick=recordGraph()> Stop Recording </button> -->
    </div>
    <br>
    <div style="width: 100%; height: 700px">
    <div style="display: inline-block; width: 22%; vertical-align: top; margin: 10px">
        <div style="width: 80%; margin: auto; height: 50%; vertical-align: top; margin-bottom: 10px">
            <h4 style="width: 80px; display: inline-block;"> Task  </h4>
            <span style="width: 15%; display: inline-block; font-size: x-large" id="num_task"> 1/1  </span>

            <h4 style="width: 100px; display: inline-block;"> #Steps  </h4>
            <span style="width: 10%; display: inline-block; font-size: x-large" id="num_steps"> 0/250  </span>
            <br>
            <span id="error_messages">  </span>
            <div class="buttoncontainer statuscontainer" style="height: 80%">
                <span> Task name: </span>
                <span id="task_name">  </span>
                <br>
                <span> Goals:  </span>
                <ul style="height: 60%" id="task_pred">  

                </ul>
<!--                <span> Tasks Completed:  </span>-->
<!--                <span id="num_completed_all"> 0/0   </span>-->
<!--                <span id="task_finished"> False  </span>-->

            </div>
        </div>

            <span style=""> Walk to </span>
                <div class="topbuttons">
            <div id="button_rooms"> </div>

        </div>
        <div id="selectedcontainer" style="display: none; margin: 5%">
            <h3 id="selectedobject"></h3>
                <div id="currentactions" class="buttoncontainer" style="height: 100px">
                </div>
        </div>

        <form id="send-msg" action="/submit-form" method="post">
        <label for="user-input">Or to send message here：</label>
        <textarea id="user-input" name="user-input" rows="4" cols="50" maxlength="500"></textarea>
        <span id="char-count">0/500</span>
        <button type="submit">Send Message</button>
        </form>


    </div>
    <div id="centralpannel" style="display: inline-block; width: 48%; vertical-align: top">
        


           
            <!-- <br> -->
            <!-- <br> -->
            <div style="display: inline-block; width: 100%; vertical-align: top">
        <h3 style="display: inline-block;"> Objects </h3>
        <button style="display: inline-block;" type="button" class="btn btn-link" id="visibleinstrbutton" onclick="tickvisible()"> About </button>

        <div id="visible_object_info" style="margin-bottom: 10px; display: none">

        Objects and containers or surfaces are visible when they are in the same room as the agent, unless they are inside some closed container (e.g. an apple inside a fridge). When the objects are close to the agent, the button turns <span style="font-weight: bold; color: green">green</span>.
        </div>
        <div id="visible_objects_all"  style="height: 100%">
            <!-- <span style="font-weight: bold"> Other locations inside room </span> -->
            <div id="visible_objects_grab" class="" style=""></div>
            <!--<br>-->
            <span style="font-weight: bold"> Containers/Surfaces </span>
            <div id="visible_objects_container" class="buttoncontainer" style="height: 75%">
            </div>
        </div>


    </div>
    </div>
    <div style="display: inline-block; height; width: 25%; vertical-align: top">
        
        <!--<div style="width: 80%; margin: auto">-->
				<!--<img style="width: 100%" id="image" margin="5%" src=""></img>-->
			<!-- <div id="plot_top"></div> -->
	    <!--</div>-->
        <div style="width: 80%; margin: auto; height: 30%; vertical-align: top; margin-bottom: 10px">
            <h3> Agent  </h3>
            <div class="buttoncontainer statuscontainer">
            <span> Location: </span>
            <span id="loc_agent">  </span>
            <br>
            <span> Alice (You) Grabbed Object: </span>
            <span style="font-weight: bold" id="grab_agent">  </span>
            <div id="second_agent_info">
                <br>
                <span> Bob Grabbed Object: </span>
                <span style="font-weight: bold" id="grab_agent_2">  </span>
                <!--<div id="grabbed_obj2_button"></div>-->
            </div>
            </div>
        </div>

        <div style="width: 80%; margin: auto; height: 30%; vertical-align: top; margin-bottom: 10px">
            <h3> Dialogue history  </h3>
                <textarea style="font-weight: normal; width: 100%; height: 300px; overflow-y: scroll;" id="dialogue_history" readonly></textarea>
        </div>

    </div>


    </div>
</div>
<div>
</div>
</body>

<script>
$(document).ready(function() {
  $('#send-msg').submit(function(event) {
    event.preventDefault();
    var userInput = $('#user-input').val();
    var msg = [[userInput]];
    doWork('send_message', msg);
    document.getElementById('user-input').value = '';
  });
  $('#user-input').on('input', function() {
    var charCount = $(this).val().length;
    $('#char-count').text(charCount + '/500');
  });
});
</script>