<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var cars = [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
];
window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
	};
}
function doWork() {
	// ajax the JSON to the server
	$.post("receiver", cars, function(){
	});
	// stop link reloading the page
 event.preventDefault();
}
</script>
<img src="{{ current_pic }}"></img>
This will send data using AJAX to Python:<br/><br />
<a id="theButton">Click Me</a>
