.ipynb_checkpoints
.DS_Store
port_*.txt
rl/*
logs_exec/*
trained_models/*
logs/*
logs.txt
logs_test/*
log_tb/*
record/*
*.gv
__pycache__/
*.py[cod]
*$py.class
.idea
.vscode

dataset/*
!dataset/test_env_set_help.pik
checkpoints/*
test_results/*
logdir/*
dataset/watch_data*
detection_images/*
detection_data/*
dataset_*
init_reward/result/*
initial_environments/data/init_envs/*
*.p
rl/Player.log
init_reward/Player.log
rl/.nfs*
interface/Player.log
rl/logs.txt
visualization/*.mp4
*.jpg
*.ply
*.png
test_env.json
train_env.json
multi-view-code
detection_images_full/*
*.zip
*.pth
git
Output
!Output/LLMs_comm_gpt-4/*
virtualhome_userinferface/port_*.txt
virtualhome_userinferface/.*
virtualhome_userinferface/record_graph/
virtualhome_userinferface/saved_images/