button {
    padding: 10px;
    margin: 2px;
}

img {
    border-style: solid;
}

.buttoncontainer {
    border: solid;
    border-width: 1px;
    height: 100%;
}

a {
    font-size: larger;
}


.statuscontainer span {
	font-size: larger;
}
